#work {
    color: white;
    padding: 50px 0px 0px 0px;
}

#work #nav {
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#work #nav span {
    padding: 10px 15px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    
    border-bottom: 0.5px solid #cccccc;
    border-radius: 5px 5px 0px 0px;
    color: rgb(157, 231, 250);
}

#work #nav span:hover {
    opacity: 0.7;
}

#work #nav span#active:hover {
    opacity: 1;
}

@media (any-hover) {
    #work #nav span {
        cursor: pointer;
    }
}

@media (max-width: 600px) {
    #work #nav span {
        font-size: 15px;
        padding: 5px 10px;
    }
}



#work #nav span#active {
    color: white;
    border-bottom: 3px solid #aaa;
    font-weight: 600;
    background-color: rgba(0,106, 192, 0.8);
}




#work #albums-container {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#work #albums-container div {
    height: 200px;
    width: 100%;
    max-width: 400px;

    background-size: cover;
    background-position: center;
    margin: 10px 20px;

    border-radius: 20px;
}

#work #albums-container div a {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Parisienne', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 35px;
}



#work #albums-container iframe {
    width: 400px;
    height: 266px;
    background-color: #222222;
    border-radius: 20px;
    margin: 20px;
}

@media (max-width: 900px) {
    #work #albums-container div {
        max-width: 300px;
        height: 175px;
    }
    
    #work #albums-container div a {
        font-size: 30px;
    }
}

@media (max-width: 700px) {
    #work #albums-container div {
        max-width: initial;
        height: calc(100vw * 1 / 2);
    }

    #work #albums-container iframe {
        width: 100%;
        height: calc(100vw * 2 / 3);
    }
}